<app-header></app-header>
<div class="small-container single-product" id="product-detail">
    <div class="row">
        <div class="col-2">
            <img id="ProductImg" src="{{products.images}}" width="100%" alt="">
            <div class="small-img-row mt-5">
                <div class="small-img-col">
                    <img class="small-img" src="{{products.images}}" width="100%" alt="">
                </div>
                <div class="small-img-col">
                    <img class="small-img" src="{{products.images}}" width="100%" alt="">
                </div>
                <div class="small-img-col">
                    <img class="small-img" src="{{products.images}}" width="100%" alt="">
                </div>
            </div>
        </div>
        <div class="col-2">
            <!-- <p>Home / Products</p> -->
            <h1>{{products.name}}</h1>
            <h4>{{products.price | number}} VNĐ</h4>
            <p>Số lượng: {{products.quantity}}</p>
            <!-- <select>
                <option>Select Size</option>
                <option>XXL</option>
                <option>XL</option>
                <option>LARGE</option>
                <option>MEDIUM</option>
                <option>SMALL</option>
            </select> -->
            <input type="number" value="1">
            <a href="" class="btn-add">Add to Cart</a>
            <h3>Chi tiết sản phẩm <i class="fa fa-indent"></i></h3>
            <br>
            <p>{{products.description}}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="section-header">
        <h2>new arrivals</h2>
    </div><!--/.section-header-->
    <div class="new-arrivals-content">
        <div class="row">
            <div class="col-md-3 col-sm-4" *ngFor="let item of datas">
                <div class="single-new-arrival">
                    <div class="single-new-arrival-bg">
                        <img src="{{item.images}}" alt="new-arrivals images">
                        <div class="single-new-arrival-bg-overlay"></div>
                        <!-- <div class="sale bg-1">
                            <p>sale</p>
                        </div> -->
                        <div class="new-arrival-cart">
                            <p>
                                <span class="lnr lnr-cart"></span>
                                <a href="#">add <span>to </span> cart</a>
                            </p>
                            <p class="arrival-review pull-right">
                                <span class="lnr lnr-heart"></span>
                                <span class="lnr lnr-frame-expand"></span>
                            </p>
                        </div>
                    </div>
                    <h4><a routerLink="/product-detail/{{item.id}}">{{item.name}}</a></h4>
                    <p class="arrival-product-price">{{item.price | number}} VNĐ</p>
                </div>
            </div>
        </div>
    </div>
</div><!--/.container-->

<app-footer></app-footer>